USE [QuanLyKhachSan_K235480106056]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeDoanhThuPhong]    Script Date: 5/1/2026 9:11:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_ThongKeDoanhThuPhong] (@Nam INT)
RETURNS @BangThongKe TABLE (
    [MaPhong] VARCHAR(10),
    [LoaiPhong] NVARCHAR(50),
    [TongDoanhThu] DECIMAL(18,2),
    [DanhGia] NVARCHAR(50)
)
AS
BEGIN
    -- 1. Đưa dữ liệu tổng tiền vào bảng ảo
    INSERT INTO @BangThongKe ([MaPhong], [LoaiPhong], [TongDoanhThu])
    SELECT 
        p.[MaPhong], 
        p.[LoaiPhong], 
        SUM(dp.[TongTien])
    FROM [Phong] p
    JOIN [DatPhong] dp ON p.[MaPhong] = dp.[MaPhong]
    WHERE YEAR(dp.[NgayTraPhong]) = @Nam
    GROUP BY p.[MaPhong], p.[LoaiPhong];

    -- 2. Dùng lệnh UPDATE để tự động phân loại đánh giá
    UPDATE @BangThongKe
    SET [DanhGia] = N'Doanh thu cao'
    WHERE [TongDoanhThu] >= 2000000;

    UPDATE @BangThongKe
    SET [DanhGia] = N'Doanh thu trung bình'
    WHERE [TongDoanhThu] < 2000000;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhSoNgayThue]    Script Date: 5/1/2026 9:11:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TinhSoNgayThue] (@NgayNhan DATE, @NgayTra DATE)
RETURNS INT
AS
BEGIN
    DECLARE @SoNgay INT;
    SET @SoNgay = DATEDIFF(DAY, @NgayNhan, @NgayTra);
    IF @SoNgay = 0 
        SET @SoNgay = 1; -- Cùng ngày thì làm tròn tính là 1 ngày
    RETURN @SoNgay;
END;
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 5/1/2026 9:11:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](10) NOT NULL,
	[LoaiPhong] [nvarchar](50) NOT NULL,
	[GiaTheoNgay] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 5/1/2026 9:11:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[NgayNhanPhong] [date] NULL,
	[NgayTraPhong] [date] NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LichSuDatPhongCuaKhach]    Script Date: 5/1/2026 9:11:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_LichSuDatPhongCuaKhach] (@MaKH INT)
RETURNS TABLE
AS
RETURN (
    SELECT 
        dp.[MaDatPhong], 
        p.[MaPhong], 
        p.[LoaiPhong], 
        dp.[NgayNhanPhong], 
        dp.[NgayTraPhong], 
        dp.[TongTien]
    FROM [DatPhong] dp
    JOIN [Phong] p ON dp.[MaPhong] = p.[MaPhong]
    WHERE dp.[MaKhachHang] = @MaKH
);
GO
/****** Object:  Table [dbo].[BangA]    Script Date: 5/1/2026 9:11:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangA](
	[ID] [int] NULL,
	[DuLieu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangB]    Script Date: 5/1/2026 9:11:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangB](
	[ID] [int] NULL,
	[DuLieu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/1/2026 9:11:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangB] ([ID], [DuLieu]) VALUES (1, N'Khởi tạo B')
GO
SET IDENTITY_INSERT [dbo].[DatPhong] ON 

INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [NgayNhanPhong], [NgayTraPhong], [TongTien]) VALUES (1, 1, N'P101', CAST(N'2023-11-01' AS Date), CAST(N'2023-11-04' AS Date), 1500000.0000)
INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [NgayNhanPhong], [NgayTraPhong], [TongTien]) VALUES (2, 1, N'V201', CAST(N'2023-12-15' AS Date), CAST(N'2023-12-17' AS Date), 3000000.0000)
INSERT [dbo].[DatPhong] ([MaDatPhong], [MaKhachHang], [MaPhong], [NgayNhanPhong], [NgayTraPhong], [TongTien]) VALUES (3, 2, N'P102', CAST(N'2023-11-10' AS Date), CAST(N'2023-11-10' AS Date), 800000.0000)
SET IDENTITY_INSERT [dbo].[DatPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoVaTen], [SoDienThoai], [NgaySinh], [DiemTichLuy]) VALUES (1, N'Nguyễn Văn An', N'0901234567', CAST(N'1995-05-15' AS Date), 20)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoVaTen], [SoDienThoai], [NgaySinh], [DiemTichLuy]) VALUES (2, N'Trần Thị Bình', N'0987654321', CAST(N'1998-10-20' AS Date), NULL)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoVaTen], [SoDienThoai], [NgaySinh], [DiemTichLuy]) VALUES (3, N'Lê Hoàng Cường', N'0912345678', CAST(N'1990-12-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[Phong] ([MaPhong], [LoaiPhong], [GiaTheoNgay]) VALUES (N'P101', N'Phòng Đơn Thường', 650000.0000)
INSERT [dbo].[Phong] ([MaPhong], [LoaiPhong], [GiaTheoNgay]) VALUES (N'P102', N'Phòng Đôi Thường', 800000.0000)
INSERT [dbo].[Phong] ([MaPhong], [LoaiPhong], [GiaTheoNgay]) VALUES (N'V201', N'Phòng VIP', 1500000.0000)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BDBD585498]    Script Date: 5/1/2026 9:11:55 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatPhong] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_KhachHang]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_Phong]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_ThoiGian] CHECK  (([NgayTraPhong]>=[NgayNhanPhong]))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_ThoiGian]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_GiaPhong] CHECK  (([GiaTheoNgay]>(0)))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_GiaPhong]
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatGiaPhong]    Script Date: 5/1/2026 9:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CapNhatGiaPhong]
    @MaP VARCHAR(10),
    @GiaMoi DECIMAL(18,2)
AS
BEGIN
    -- Kiểm tra điều kiện logic
    IF @GiaMoi <= 0
    BEGIN
        PRINT N'LỖI: Giá phòng mới phải lớn hơn 0. Cập nhật thất bại!';
        RETURN;
    END

    -- Nếu hợp lệ thì tiến hành UPDATE
    UPDATE [Phong]
    SET [GiaTheoNgay] = @GiaMoi
    WHERE [MaPhong] = @MaP;

    PRINT N'THÀNH CÔNG: Đã cập nhật giá phòng mới!';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhTongTienKhachHang]    Script Date: 5/1/2026 9:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Lệnh tạo Stored Procedure có 2 biến OUTPUT
CREATE PROCEDURE [dbo].[sp_TinhTongTienKhachHang]
    @MaKH INT,
    @TenKH NVARCHAR(100) OUTPUT,
    @TongChiTieu DECIMAL(18,2) OUTPUT
AS
BEGIN
    -- Tìm tên khách hàng
    SELECT @TenKH = [HoVaTen] 
    FROM [KhachHang] 
    WHERE [MaKhachHang] = @MaKH;

    -- Tính tổng chi tiêu
    SELECT @TongChiTieu = SUM([TongTien])
    FROM [DatPhong]
    WHERE [MaKhachHang] = @MaKH;

    IF @TongChiTieu IS NULL
        SET @TongChiTieu = 0;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TraCuuThongTinDatPhong]    Script Date: 5/1/2026 9:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TraCuuThongTinDatPhong]
    @LoaiPhong NVARCHAR(50)
AS
BEGIN
    -- Truy vấn JOIN 3 bảng: DatPhong, KhachHang và Phong
    SELECT 
        dp.[MaDatPhong],
        kh.[HoVaTen] AS [TenKhachHang],
        kh.[SoDienThoai],
        p.[MaPhong],
        p.[LoaiPhong],
        dp.[NgayNhanPhong],
        dp.[TongTien]
    FROM [DatPhong] dp
    JOIN [KhachHang] kh ON dp.[MaKhachHang] = kh.[MaKhachHang]
    JOIN [Phong] p ON dp.[MaPhong] = p.[MaPhong]
    WHERE p.[LoaiPhong] = @LoaiPhong;
END;
GO
